body{
    margin: 0;
}

.map_main{
    width: 100%;
    min-height: 100vh;
}

.outer_chart_container{
    transition: .3s all ease;
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
    &.open{
        z-index: 5000;
        margin-left: 400px;
    }
    &.close{
        z-index: 500;
        margin-left: 0px;
    }
}

.chart-outer_container{
    transition: .3s all ease;
    .chart-outer_flex{
        transition: .3s all ease;
    }
}

.image_list{
    &.has_more{
        .image_container:last-child{
            &::before{
                content: "";
                display: block;
                inset: 0;
                background: #00000075;
                z-index: 10;
                position: absolute;
            }
            &::after{
                content: "+";
                display: block;
                inset: 0;
                color: #fff;
                font-weight: 800;
                font-size: 30px;
                z-index: 10;
                width: fit-content;
                text-align: center;
                height: fit-content;
                position: absolute;
                margin: auto;
            }
        }
    }
    .image_container{
        
    }
}