.tab_container{
    position: relative;
    display: flex;
    flex-direction: column;
    &::before{
        content: "";
        display: block;
        top: -30px;
        left: 0;
        width: 40%;
        height: 50px;
        background: inherit;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: absolute;
    }
}

body{
    background-color: #f2f2f2;
    margin: 0;
}

.search_nav{
    height: 64px;
    // background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
}